# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# Production / deploy
.vercel

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caches
.eslintcache

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
