# App
NODE_ENV=development
PORT=3000
PORT_ACCEPT=http://localhost:3000

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=training

# Redis
REDIS_URL=

# SMTP (Gmail)
SMTP_EMAIL=
SMTP_PASSWORD=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
NEXT_PUBLIC_JWT_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
JWT_ACCESS_EXPIRATION_SECONDS=900

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
